<div id="contactoContent">
    <h5>Editar Contacto</h5>
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <input type="hidden" name="contacto" value="{{ contacto.id }}">
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="alert alert-danger">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="text-right">
            <button type="submit" class="btn btn-primary">
                Actualizar Contacto
            </button>
            <a href="{% url 'inicio' %}" class="btn btn-secondary">
                Volver
            </a>
        </div>
    </form>
</div>