<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
  </head>
  <body>
    <div class="bg-dark text-white w-100 py-2 mt-0">
      	<h5 class="mt-0 pl-4">{{ encabezado }}</h5>
    </div>
    <div class="row">
      	<div class="offset-2 col-8 mt-5 p-4">
        <div class="border p-4">
          <form id="contactoForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <div class="text-right">
              <button type="submit" class="btn btn-primary">
                Guardar Contacto
              </button>
              <a class="btn btn-secondary" href="{% url 'inicio' %}">
                Volver
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
  </body>
</html>
